<div class="jumbotron"><h1>Dude Food</h1>
<p>This is a platform to check the nutrition rate in human body.</p>
<p>In the ever evolving health conscious arena, it is not a surprise to hear that we are risking our health in the wake to move forward and forward with the pace of life
. This serves as a very helpful tool to calculate the nutrients in your body as per required by your body to function well.</p>
<h5>Healthy is other Happy.</h5>
<h4>Also, you can find some tips to improve your health and functioning of body mechanism.</h4>
</div>