<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-about></app-about>
  <br/>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  </div>

<!--
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Food Dude</a>
      </div>

      <ul class="nav navbar-nav" style="float:right;">
        <li><a href="#">Dude-calculate</a></li>
        <li><a href="#">Connect with us</a></li>
        <li><a routerLink="/blog">Blog</a></li>
      </ul>
    </div>
  </nav>
-->